{% extends 'base.html' %}

{% block title %}PRADŽIA{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div>
    <a class="btn btn-secondary mb-5" href="{% url 'posts_new' %}">Naujas įrašas</a>
</div>
{% endif %}

{% for post in posts %}

<div class="card mb-4">
    {% load static %}
    {% if post.image %}
    <a href="{% url 'post' post.pk %}">
        <img class="card-img-top" src="{{ post.image.url }}" alt="..."/>
    </a>
    {% endif %}
    <div class="card-body">
        <div class="small text-muted">
            {% if post.author.profile.photo %}
            <img src="{{ post.author.profile.photo.url }}" class="rounded-circle" style="width: 30px">
            {% endif %}
            {{ post.author }}, {{ post.date | date:"Y-m-d H:i:s" }}
        </div>
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.content | truncatewords:20 | safe }}</p>
        <a class="btn btn-secondary" href="{% url 'post' post.pk %}">Skaityti daugiau →</a>
        <p class="card-text pt-2"><b>Komentarų: {{ post.comments_count }}</b></p>
    </div>
</div>

{% endfor %}

{% include "pagination.html" %}

{% endblock %}