{% extends 'base.html' %}

{% block title %}Įrašas{% endblock %}

{% block content %}

<div class="card mb-4">
    {% if post.image %}
        <img class="card-img-top" src="{{ post.image.url }}" alt="..."/>
    {% endif %}
    <div class="card-body">
        <div class="small text-muted">
            {% if post.author.profile.photo %}
            <img src="{{ post.author.profile.photo.url }}" class="rounded-circle" style="width: 30px">
            {% endif %}
            {{ post.author }}, {{ post.date | date:"Y-m-d H:i:s" }}
        </div>
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.content | safe }}</p>
        {% if post.author == user %}
        <div>
            <a class="btn btn-warning" href="{% url 'posts_edit' post.pk %}">Redaguoti</a>
            <a class="btn btn-danger" href="{% url 'posts_delete' post.pk %}">Ištrinti</a>
        </div>
        <hr>
        {% endif %}
        {% if user.is_authenticated %}
        <h2>Palikite atsiliepimą</h2>
        <form method="post" class="mb-2">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Paskelbti</button>
        </form>
        {% endif %}
        {% for comment in post.comments.all %}
        <div class="mb-4">
            <div class="small text-muted">
                {% if comment.author.profile.photo %}
                    <img src="{{ comment.author.profile.photo.url }}" class="rounded-circle" style="width: 30px">
                {% endif %}
                {{ comment.author }}, {{ comment.date | date:"Y-m-d H:i:s" }}
            </div>
            <p class="card-text">{{ comment.content | safe }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}